.pList {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1024px;
    z-index: 1;
    gap: 20px;
}

.pListItem {
    border-radius: 10px;
    position: relative;
    flex: 1;
    overflow: hidden;
}

.pImg {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.pListText > h3 {
    font-size: 20px;
}

.pListText > h4 {
    font-weight: 300;
    color: gray;
    margin-top: -10px;
}

