.listContainer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  position: relative;

  .listWrapper {
    width: 100%;
    max-width: 1024px;
    display: flex;
    gap: 20px;

    .listSearch {
      flex: 1;
      background-color: teal;
      padding: 10px;
      border-radius: 10px;
      height: max-content;
      position: sticky;
      top: 60px;

      .listTitle {
        font-size: 30px;
      }

      .listItem {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 10px;

        .listItemInput {
          height: 30px;
          padding: 5px;
          border: none;
          outline: none;
        }

        .listItemDate {
          background-color: white;
          padding: 12px;
          letter-spacing: 2px;
          cursor: pointer;
        }

        .listOptions {
          padding: 10px;

          .listOptionItem {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;

            .listOptionTitle {
              font-weight: 300;
              font-size: 12px;
            }

            .listOptionInput {
              width: 50px;
              text-align: center;
              outline: none;
              border: none;
            }
          }
        }
      }

      .listButton {
        width: 100%;
        padding: 5px;
        background-color: #1789ff;
        color: white;
        font-size: 18px;
        border: none;
      }
    }

    .listResult {
      flex: 3;
    }
  }
}
