@import "../../scss/variables";

.details-code {

    h1 {
        margin: 2rem 0;
    }
    .thank {
        text-align: center;
    }

    .code {
        background-color: $lightblue-bg;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        max-width: 800px;
        margin: 2rem auto;
    }

    .wrong {
        text-align: center;
    }
}