.mail {
  width: 100%;
  height: 300px;
  background-color: #1789ff;
  text-align: center;
  padding: 20px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mailTitle {
  color: white;
}

.mailDesc {
  color: white;
}

.mailForm {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.mailInput {
  width: 300px;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  outline: none;
}

.mailButton {
  padding: 12px;
  border: none;
  border-radius: 10px;
  background-color: #59a8fc;
  color: white;
}
