@import "../../scss/variables";
@import "../../scss/mixins";

.about {
  p {
    line-height: 1.6;
  }

  .aboutTop {
    margin: 5rem auto 0 auto;
    text-align: center;
    max-width: 800px;
    width: 100%;
    h1 {
      margin-bottom: 2rem;
      font-size: 2.5rem;
      @include tablet {
        font-size: 2rem;
      }
    }

    p {
      @include tablet {
        padding: 0 4rem;
      }
    }

  }

  .aboutMain {
    display: flex;
    width: 100%;
    max-width: 1100px;
    position: relative;
    margin: 6rem auto 0 auto;

    @include tablet {
      padding: 0 4rem;
      align-items: center;
      gap: 10px;
    }
    .bg-light {
      position: absolute;
      top: -30px;
      left: -42px;
      height: 550px;
      width: 100%;
      max-width: 980px;
      background-color: rgba(0, 0, 0, 0.02);
      z-index: -1;
    }
    .mainLeft {
      margin-right: 1rem;
      h1,
      h2 {
        margin: 1rem 0;
      }

      .btn {
        padding: 10px;
        background-color: transparent;
        color: $text-main-color;
        transition: all 0.3s ease-out;

        &:hover {
          background-color: $black-bg;
          color: $text-white;
        }
      }
    }
    .mainRight {
      img {
        width: 600px;
        border-radius: 10px;

        @include tablet {
          width: 400px;
        }
      }
    }
  }

  .spotlight {
    margin-top: 5rem;
    padding: 0 3rem;
    h1 {
      text-align: center;
      margin-bottom: 1rem;
    }
    .card-row {
      display: flex;

      @include tablet {
        flex-direction: column;
      }

      .card {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0 1rem;
        background-color: $lightblue-bg;
        padding: 2rem;

        @include tablet {
          margin: 2rem 0;
        }
        .btn {
          padding: 10px;
          background-color: transparent;
          color: $text-main-color;
          cursor: pointer;
          transition: all 0.3s ease-out;

          &:hover {
            background-color: $black-bg;
            color: $text-white;
          }
        }
        img {
          width: 100%;
          height: 300px;
          border-radius: 10px;
        }

        p {
          margin: 1rem 0;
        }
      }
    }
  }
}
