@import "../../scss/variables";

.r {
  .rI {
    img {
      width: 100%;
      height: 75vh;
    }

    .header-main {
      position: relative;

      .header-img {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 800px;
        width: 100%;
      }

      .header-content {
        position: absolute;
        top: 20%;
        width: 100%;
        color: $text-white;
        text-align: center;

        .header-title {
          color: $text-white;
          font-size: 50px;
        }

        .header-p {
          font-size: 30px;
          width: 80%;
          margin: 0 auto;
        }
      }
    }

    .header-desc {
      text-align: center;
      margin-top: 5rem;
    }

    .rIInfo {
      max-width: 1440px;
      display: flex;
      margin: 3rem auto 0 auto;

      .left {
        flex-basis: 50%;
        display: flex;
        flex-wrap: wrap;

        .info {
          display: flex;
          flex-wrap: wrap;

          div {
            flex-basis: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            line-height: 2;
          }
        }

        .infoIcons {
          ul {
            display: flex;
            flex-wrap: wrap;
            list-style: none;

            li {
              width: 100px;
              margin: 10px 0;

              .itemIcon {
                width: 60px;
                height: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: lighter;
                font-size: 2rem;
                border: 1px solid $lightblue-bg;
                color: $text-second-color;
              }

              .itemShow {
                cursor: pointer;
              }

              p {
                margin-top: 10px;
              }
            }
          }
        }
      }

      .right {
        flex-basis: 50%;

        h2 {
          font-weight: lighter;
          margin-bottom: 2rem;
        }
      }
    }

    .room {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin: 3rem auto;
      padding: 0 4rem;

      .loader {
        margin: auto;
      }
      .card {
        display: flex;
        margin: 2rem 2rem 0 2rem;
        flex-direction: column-reverse;
        flex: 1 0 40%;
        padding: 2rem;
        background-color: $lightgray-bg;

        .button {
          background-color: transparent;
          border: none;
          border-bottom: 1px solid $btn-border-color;
          cursor: pointer;
        }

        .room-title {
          font-size: 2rem;
          font-weight: lighter;
        }

        p {
          margin: 1rem 0;
          line-height: 1.5;
        }

        .room-img {
          overflow: hidden;
          max-width: 100%;
          max-height: 100%;

          img {
            transform: scale(1);
            transition: all 0.3 ease-out;
          }
        }
      }
    }
  }
}
