$main-bg: #1890ff;
$black-bg: #000;
$white-bg: #fff;
$main-color: #1890ff;
$lightblue-bg: lightblue;
$lightgray-bg: lightgray;

$text-main-color: #000;
$text-second-color: #8d8d8d;
$text-white: #fff;

$btn-main-bg: $main-color;
$btn-main-color: #fff;
$btn-border-color: $main-color;

$header-height: 70px;
$header-tablet-height: 70px;
$header-mobile-height: 40px;
$header-shrink-height: 70px;

$box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.1);

$colors: (
  "blue": #1890ff,
  "orange": #fbb96b,
  "pink": #fe7e73,
  "white": #fff,
  "black": #000,
  "main": $main-color,
  "red": #ff0000,
);

$mobile-width: 768px;
$tablet-width: 1000px;

$numbers: (0, 1, 2, 3, 4, 5, 6, 7, 8);
