.f {
  padding-bottom: .5rem;
  .footer {
    width: 100%;
    height: 100%;
    max-width: 1600px;
    background-color: black;
    color: white;
    margin: 2rem auto;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

    .fText {
      font-size: 20px;
    }
  }
}
