.footer {
  width: 100%;
  max-width: 1024px;
}

.fLists {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.fList {
  list-style: none;
  padding: 0;
}

.fListItem {
  margin-bottom: 20px;
  color: #1789ff;
  cursor: pointer;
}

.fText {
  text-align: center;
  font-size: 20px;
}
