@import "../../scss/variables";

.header {
  height: $header-height;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
  transition: all 0.3s ease-out;

  &:hover {
    background-color: $main-bg;
  }

  .headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1024px;

    .logo {
      font-size: 30px;
      z-index: 999;
      color: $text-white;
    }

    .headerList {
      display: flex;
      gap: 40px;

      .headerListItem {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        color: $text-white;
      }
    }

    .headerButton {
      margin-left: 20px;
      padding: 5px 10px;
      background-color: $white-bg;
      border: none;
      color: $main-color;
      cursor: pointer;
    }

    .headerUser {
      margin-left: 10px;
      color: $text-white;
      font-size: 12px;
    }
  }
}

.scroll-color {
  background-color: $main-bg;
  color: $text-white;
  z-index: 997;
}
