@import "../../scss/variables";

.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  height: 100vh;

  .registerHeader {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    border-bottom: 3px solid $btn-border-color;
  }

  .registerForm {
    width: 300px;

    .button {
      width: 50%;
    }
  }
}
